# Python
*.pyc
__pycache__/
db.sqlite3

# Environments
venv/
ENV/
env/

# Static and Media files
/staticfiles/
/media/

# VSCode

# Mac OS system files
.DS_Store
config.bat
node_modules
